name: Look At Me Pull Request Build Test

on:
  pull_request:
    branches:
      - main
      - dev
      - feat/be/actions
    paths:
      - server/**
      
jobs:
  call-gradle-build-workflow:
    uses: ./.github/workflows/gradle-build.yml
