name: Look At Me Application CI

on:
  push:
    branches:
      - 'feat/be/cloud'

env:
  S3_BUCKET_NAME: my-springboot-build

jobs: # Groups together all the jobs
  backend: # <job_id>
    # 작업 기초 설정
    name: Spring Boot CI With Gradle
    runs-on: ubuntu-latest
    permissions:
      contents: read

    # 수행할 작업 단계의 목록
    steps:
      # 작업 단계의 일부로 실행할 작업
      - uses: actions/checkout@v3

      # 단계의 이름
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Add permission to gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: build

      - name: Make build file to zip file
        run: zip -r ./lookatme-server.zip .
        shell: bash

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }} # Github에 별도로 등록
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./lookatme-server.zip s3://$S3_BUCKET_NAME/lookatme-server.zip
